@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.container {
	margin: 20px auto;
	text-align: center;
	width: 50%;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: 'Kdam Thmor Pro', sans-serif;
	letter-spacing: 3px;
	font-size: 50px;
}

h1 span {
	color: rgb(42, 121, 186);
}


.search {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search img {
	width: 50px;
	height: 50px;
}

.search input {
	width: 100%;
	height: 50px;
	padding: 10px;
	outline: none;
	border: none;
	border-bottom: solid 3px rgb(42, 121, 186);
}

.search input::-webkit-input-placeholder {
	color:rgb(156, 176, 192);
	font-size: 30px;
}

.add_contact {
	display: flex;
	margin-top: 30px;
	margin-left: 50px;
}

.btn_add {
	text-transform: uppercase;
	color: white;
	background-color: rgb(42, 121, 186);
	width: 300px;
	height: 40px;
	border: none;
}
.btn_add:hover {
	cursor: pointer;
	background-color: rgb(23, 96, 156);
	box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);
}

.open_modal {
	margin-top: 50px;
	display: none;
	margin-left: 50px;
	flex-direction: column;
}

.input_data {
	display: flex;
}

.open_modal input {
	width: 50%;
	padding: 20px;
	border: solid 2px gray;
	border-radius: 5px;
}

.open_modal input::-webkit-input-placeholder {
	color:rgb(156, 176, 192);
	font-size: 15px;
}

.open_modal input:first-child {
	margin-right: 20px;
}

.submit_data {
	margin-top: 30px;
	display: flex;
}

.submit_data button:hover {
	cursor: pointer;
	background-color: rgb(23, 96, 156);
	box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);
}

.btn_save {
	width: 200px;
	margin-right: 5px;
	text-transform: uppercase;
	color: white;
	background-color: rgb(42, 121, 186);
	height: 40px;
	border: none;
}
.btn_cansel {
	width: 95px;
	background-color: gray;
	text-transform: uppercase;
	color: white;
	height: 40px;
	border: none;
}

.my_contacts {
	margin-left: 50px;
	display: none;
}


.main-modal {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.inner-modal {
	width: 500px;
	height: 200px;
	background-color: #fff;
	margin: 0 auto;
	text-align: center;
}

.close {
	text-align: end;
}